/.mymetadata
/bin
/target
/WebRoot
/.settings
/.classpath
/.project
/logs
/jar.pom.xml
/web.pom.xml
.jupiter
*~
*.pyc
/.tern-project
/.myumldata
/.springBeans
/.pydevproject
/%USERPROFILE%/
/.pmd

/.idea


