/.mymetadata
/bin
/target
/WebRoot
/.settings
/.classpath
/.project
/logs
/jar.pom.xml
/web.pom.xml
.jupiter
*~
*.pyc
/.tern-project
/.myumldata
/.springBeans
/.pydevproject
/%USERPROFILE%/
/.pmd
/checkstyle_zlfund_version1.0.xml
/src/main/java/com/zlfund/openapi/test/*
/.idea
OpenAPI.iml
/src/test/java/com/zlfund/openapi/test/*
/src/main/java/com/zlfund/openapi/service/impl/cfca/test*
/${project.build.directory}*
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### webpack ###
node_modules/

appName/src/test/*